branches:
  only:
  - master
  - dev

language: java
services:
  - mysql
matrix:
#  fast_finish: true
  include:
    - language: java
      jdk: openjdk8
      os: linux
      dist: xenial
      sudo: required

    - language: java
      jdk: openjdk9
      os: linux
      dist: xenial
      sudo: required

    - language: java
      jdk: openjdk10
      os: linux
      dist: xenial
      sudo: required

    - language: java
      jdk: openjdk11
      os: linux
      dist: xenial
      sudo: required

    - language: java
      jdk: openjdk12
      os: linux
      dist: xenial
      sudo: required

    - language: java
      jdk: openjdk13
      os: linux
      dist: xenial
      sudo: required

    - language: java
      jdk: openjdk14
      os: linux
      dist: xenial
      sudo: required

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
before_install:
  - gradle wrapper
script: |
  bash .ci/ci_check.sh
